---
import avatar from '../assets/avatar.jpg';
---

<section id="three">
<h2>Certification</h2>
	<ul>
		<li><a href="https://www.jitec.ipa.go.jp/1_11seido/fe.html" target="blank">IPA 基本情報処理</a></li>
		<li><a href="https://jasr.or.jp/students/qa.html" target="blank">社会調査士</a></li>
		<li>司書</li>
	</ul>
</section>
