---
import avatar from '../assets/avatar.jpg';
---

<section id="three">
<h2>Certification</h2>
	<ul class="list-outside list-none text-gray-500">
		<li><a href="https://www.ipa.go.jp/shiken/kubun/fe.html" target="blank">基本情報技術者</a> / <a href="https://www.ipa.go.jp/shiken/kubun/ap.html" target="blank">応用情報技術者</a></li>
		<li><a href="https://jasr.or.jp/students/qa.html" target="blank">社会調査士</a></li>
		<li>司書</li>
		<li>普通自動車免許・小型二輪限定免許</li>
	</ul>
</section>
