<section id="two">
	<h2>Qualifications</h2>
	<dl>
		<dt class="text-nakano-hanada font-bold">WordPress</dt>
		<dd>プラグイン開発</dd>
		<dd>ブロック開発</dd>
		<dd>投稿タイプ設計</dd>
		<dd>テーマ・テンプレート開発</dd>
		<dd>ブロックエディタカスタマイズ</dd>
		<dd>WP-CLI 活用</dd>
		<dd>実行環境構築（Docker, Debian, Ubuntu）</dd>
		<dt class="text-nakano-hanada font-bold">React / TypeScript</dt>
		<dd>WordPress ブロックエディタのブロック開発、エディタカスタマイズ</dd>
<dd>Next.js によるウェブフロントエンド、ウェブアプリ開発</dd>
		<dt class="text-nakano-hanada font-bold">Static Site</dt>
		<dd>Astro / Jekyll テーマを使用したサイト構築</dd>
		<dt class="text-nakano-hanada font-bold">Android App</dt>
		<dd>Java / Kotlin によるネイティブアプリ開発</dd>
	</dl>
</section>
