---
import avatar from '../assets/avatar.jpg';
---
<!-- Header -->
<header id="header">
	<div class="inner">
		<h1>
			<strong>Autumnsky systems<br />As clear code as autumn sky.</strong>
		</h1>
	</div>
</header>
