---
import avatar from '../assets/avatar.jpg';
---
<!-- Header -->
<header id="header">
	<div class="inner">
		<h1 class="font-monofur inline-flex flex-col">
			<strong class="text-[2rem]">Autumnsky systems</strong><br/>
			<span class="text-2xl text-white text-opacity-70 mt-2">As clear code as autumn sky.</span>
		</h1>
	</div>
</header>
