---
import avatar from '../assets/avatar.jpg';
---

<section id="one">
	<a href="#" class="image avatar"><img src={avatar} alt="" /></a>
	<p><ruby>胸永 晃考<rp>（</rp><rt>ムネナガ アキナリ</rt><rp>）</rp></ruby><br>フリーランス プログラマ<br>兵庫県三木市 在住</p>
</section>
