---
import portrait from '../assets/portrait.jpg';
---

<section id="one">
	<div class="row">
		<div class="col-3 col-12-small text-center md:text-left">
			<img src={portrait} alt="" class="inline-block w-[100%] max-w-[180px] md:max-w-[420px] rounded-full" />
		</div>
		<dl class="col-9 col-12-small text-center md:text-left">
			<dt class="text-2xl text-light mt-4 md:mt-0">
				<ruby>胸永&nbsp;&nbsp;&nbsp;晃考<rp>（</rp><rt>ムネナガ &nbsp;&nbsp;&nbsp;アキナリ</rt><rp>）</rp></ruby>
			</dt>
			<dd>フリーランス WEBプログラマ</dd>
			<dd>兵庫県三木市 在住</dd>
		</dl>
	</div>

</section>
