---
import avatar from '../assets/avatar.jpg';
---

<section id="one">
	<div class="row">
		<div class="col-2 col-12-small">
			<a href="#" class="image avatar"><img src={avatar} alt="" /></a>
		</div>
		<dl class="col-4 col-12-small">
			<dt>
				<ruby>胸永 晃考<rp>（</rp><rt>ムネナガ アキナリ</rt><rp>）</rp></ruby>
			</dt>
			<dd>フリーランス WEBプログラマ</dd>
			<dd>兵庫県三木市 在住</dd>
		</dl>
	</div>

</section>
