<section id="three">
	<h2>Work</h2>
    <dl>
		<dt><a href="https://school.hpmusic.jp/" target="blank">HP.Music School</a></dt>
		<dd><a href="https://kiteretz.com/" target="blank">株式会社 キテレツ</a>にて、投稿タイプ構築、テーマ・テンプレート設計、カスタムブロックの実装を行いました。</dd>

		<dt><a href="https://www.figma.com/@akiya64" target="blank">Simple List / Simple Matrix</a></dt>
		<dd>Figjam で使えるシンプルな箱形リスト、テーブルウィジェット</dd>

		<dt><a href="https://malaybaku.github.io/VMagicMirror/" target="blank">VMagicMirror サイト</a></dt>
		<dd><a href="https://vrm-consortium.org/" target="brank">VRM モデル</a>操作アプリの <a href="https://booth.pm/ja/items/1272298" target="blnak">VMagicMirror</a> 公式説明サイト。JavaScript によるサイト内検索の実装、スタイルの調整。</dd>

		<dt><a href="https://www.odekake-wanko-bu.com/" target="blank">おでかけわんこ部</a></dt>
		<dd><a href="https://kiteretz.com/" target="blank">株式会社 キテレツ</a>のコラボレーターとして、<a href="https://snow-monkey.2inc.org/" target="blank">SnowMonkey テーマ</a>のカスタマイズ、サーバの移転作業などを担当。</dd>
		<dt><a href="https://katsuragawa-lc.com/&quot;" target="blank">桂川レディースクリニック</a></dt>
		<dd><a href="https://kiteretz.com/" target="blank">株式会社 キテレツ</a>のコラボレーターとして、WordPress の投稿タイプ設計、テーマテンプレート設計、専用プラグインの作成を担当。</dd>

		<dt><a href="https://play.google.com/store/apps/details?id=systems.autumnsky.linden_free" target="blank">LindenFree</a></dt>

		<dd>睡眠時間・服薬記録 Android アプリ</dd>

		<dt><a href="https://wocker.dev/" target="blank">Wocker</a></dt>
		<dd>Docker ベース WordPress 実行環境 コントリビュータ</dd>


	</dl>
</section>
